*.jpg
*.png
*.idea
datasets/sandonato/filtered_sandonato_database.db
datasets/sandonato/sandonato_database.db
datasets/kronan/kronan_database.db
datasets/kronan/filtered_kronan_database.db
datasets/eglise-2/filtered_eglise_database.db
datasets/eglise-2/eglise_database.db
datasets/Sri_Thendayuthapani/Sri_Thendayuthapani_database.db
datasets/Sri_Thendayuthapani/filtered_Sri_Thendayuthapani_database.db
datasets/Alcatraz/alcatraz_database.db
datasets/Alcatraz/filtered_alcatraz_database.db
datasets/roundchurch/roundchurch_database.db
datasets/roundchurch/filtered_roundchurch_database.db
datasets/WaterTower/water_tower_database.db
datasets/WaterTower/filtered_water_tower_database.db
datasets/college/college_database.db
datasets/college/filtered_college_database.db
datasets/LUsphinx-2/LUsphinx_database.db
datasets/LUsphinx-2/filtered_LUsphinx_database.db
vocab_trees/vocab_tree_flickr100K_words256K.bin
vocab_trees/vocab_tree_flickr100K_words1M.bin
